*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: white;
  font-weight: 300;
  line-height: 1.6;
}

#nav1 {
  background-image: linear-gradient(to right, #244e7f, #2e8188);
  padding-right: 6em;
}

#nav1 a {
  color: white;
}

#nav1 ul {
  list-style-type: none;
}

#nav1 svg {
  margin-right: 0.3rem;
}

#nav2 {
  background-color: white;
  color: #213e7c;
  padding-right: 6em;
}

.jumbotron {
  background-position: center;
  background-image: linear-gradient(
      to right,
      rgba(13, 35, 204, 0.25),
      rgba(0, 113, 134, 0.4)
    ),
    url('/assets/img/hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 821px;
}

.p-hero {
  font-size: 3rem;
  line-height: normal;
  margin-left: 4rem;
}

.vertical-line {
  width: 3px;
  height: 40px;
  background-color: silver;
}

#hero-box {
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  z-index: 5;
  position: relative;
  margin-top: -100px;
  box-shadow: 0px 0px 1px 0px rgb(241, 244, 245);
}

@media (max-width: 768px) {
  #btn.full-width {
    margin-right: 23px;
  }
}

@media (max-width: 568px) {
  .p-hero {
    font-size: 2rem;
  }
}

.container {
  max-width: 1400px;
}

#company-box {
  border-radius: 5px;
}

.inblue {
  padding: 10px;
}

#grid1 img {
  padding-bottom: 2em;
}

.dash {
  border: 1px solid yellowgreen;
  width: 120px;
  height: 0px;
  margin: auto;
}

.navbar-toggler-icon2 {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: '';
  background: no-repeat center center;
  background-size: 100% 100%;
  position: relative;
}

.arrow {
  margin-left: -9px;
  z-index: 5;
  margin-top: -7px;
}
